In [1]:
import os
os.environ['AOC_SESSION'] = '53616c7465645f5fff342ea51d49e23402683c410592072d5487798e3d888065a12dfdfa0cfeaf85aa08c4f9628b97149f851b24e02d0bb1c19821c2f480b284'

In [3]:
import aocd
from aocd.models import Puzzle
day = 1
year = 2025
puzzle = Puzzle(year=year, day=day)
# data = aocd.get_data(day=day, year=year)
with open('./data/input_{:02d}'.format(day), 'w') as fh:
    fh.write(puzzle.input_data)

In [5]:
test_data = """L68
L30
R48
L5
R60
L55
L1
L99
R14
L82"""
data_test = test_data.splitlines()

In [4]:
data = puzzle.input_data.splitlines()
len(data), data[:10]

(4269, ['R38', 'R2', 'L2', 'R25', 'R15', 'R9', 'L40', 'R37', 'L11', 'L16'])

In [9]:
def parse(ins):
    step = int(ins[1:])
    if ins[0] == 'L':
        step *= -1
    return step

In [11]:
dial = 50
N = 100
cnt = 0

for i in data:
    dial += parse(i)
    dial %= N
    if dial == 0:
        cnt +=1
print(cnt)

1064

In [12]:
puzzle.answer_a = str(cnt)

That's the right answer!  You are one gold star closer to decorating the North Pole. [Continue to Part Two]

# Part 2

In [14]:
steps = []
for i in data:
    steps.append(parse(i))

In [33]:
dial = 50
N = 100
cnt = 0

for i in data:
    step = parse(i)
    ostep = step
    while step < -N:
        step += N
        cnt += 1
    while step > N:
        step -= N
        cnt += 1
    dial += step
    if dial > N or (dial < 0 and (dial-step!=0)):
        cnt += 1
    dial %= N
    if dial == 0:
        cnt +=1
    # print(dial, step, cnt)
print(cnt)

6122

In [34]:
puzzle.answer_b = str(cnt)

That's the right answer!  You are one gold star closer to decorating the North Pole.You have completed Day 1! You can [Shareon
  Bluesky
Twitter
Mastodon] this victory or [Return to Your Advent Calendar].

In [ ]:
# is this the gemini autocomplete? Answer: 42   
from functools import cache

@cache
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [37]:
import pandas as pd

In [40]:

df = pd.DataFrame({'A': [1,2,3], 'B':[4,5,6]}, index=['a','b','c'])

In [41]:
s = pd.Series([1,2], index=['a','c'])

In [42]:
df['new_col'] = s

In [43]:
df

   A  B  new_col
a  1  4      1.0
b  2  5      NaN
c  3  6      2.0

In [44]:
s

a    1
c    2
dtype: int64